body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 50px 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 249, 250) !important;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(33, 37, 41);
    font-weight: 300;
}

h1 {
    margin: 0;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span {
    color: rgb(108, 117, 125);
    margin-left: 1%;
}
textarea {
    line-height: 1.5;
}
textarea::placeholder {
    font-weight: 500;
    color: #888;
}
button {
    width: 80%;
    height: 50px;
    background-color: rgb(13, 110, 253);
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.formdiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.Div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.innerNameDiv {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.innerDiv {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.selectDiv1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.selectDiv2 {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.checkboxDiv {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(150, 150, 150, 0.7);
    border-top: 1px solid rgba(150, 150, 150, 0.7);
    box-sizing: border-box;
    padding-top: 22px;
    margin-bottom: 30px;
}
.inputText {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
    height: 40px;
    resize: none;
    margin: 10px 0;
}
.inputText.error {
    border-color: red;
}
.inputText.success {
    border-color: green;
}
.inputText.optional {
    border-color: green;
}
.inputText:focus {
    border: 3px solid rgb(161, 194, 241);
    padding: 3px 9px;
    outline: none;
}
.inputText.success:focus {
    border-color: green;
}
.inputText.error:focus {
    border-color: red;
}
.optionDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.legendDiv {
    font-weight: 400;
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
.error-message.active {
    display: block;
}
.mouseOn {
    cursor: pointer;
}
